/* Footer.css */
.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: transparent; /* You can adjust the color */
    color: white;
    text-align: center;
    padding: 1rem 0;
    z-index: 1000; /* Ensure the footer is above other content */
  }
  
  .footer-text {
    margin: 0;
    font-size: 1rem;
  }
  